{% extends "admin/base.html" %}
{% load static  %}
{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}"> Oligo Primer Database </a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
