{% load static %}
<!DOCTYPE html5>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'primer/css/style_form.css' %}">
    <meta charset="UTF-8">

    <title>Add new entry</title>
    <h1 style="font-family: arial; font-size: 40px; margin-top:10px">New Entry</h1>
    <div style="margin_left:10px; margin-bottom:5px">
        <button style="height: 30px; font-size: 15px" title="Go back to Overview"
                onclick="location.href='{% url 'primer:primer' %}'">BACK
        </button>
    </div>
</head>
<body>
<div style="border: 1px solid ; width: 800px">
    <img title="Help" onclick="help()"
         style="height: 28px; width: 28px;margin-right:5px; margin-left:5px; margin-top:5px; cursor:pointer; float:right"
         src="{% static 'primer/images/questionmark.png' %}" id="questionmark">
    <img title="Refresh" onclick="window.location.reload()"
         style="height: 28px; width: 28px;margin-right:5px; margin-left:5px; margin-top:5px; cursor:pointer; float:right"
         src="{% static 'primer/images/refresh.png' %}" id="refresh">
    <div style="margin-left:10px">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div align="center">
                <input id="savebtn" class="savebtn" type="submit" value="SUBMIT" title="Add entry to database" style="background-color: red; border-radius: 12px;height: 30px;
    color: white; font-weight: bold;" onmouseover="crimsonin()" onmouseleave="crimsonout()"/>
                <button type="button" style="height: 30px;font-size: 15px" title="Cancel and go back to Overview"
                        onclick="location.href='{% url 'primer:primer' %}'">CANCEL
                </button>
                <button id="add_new" type="button" style="height: 30px" title="Add new Primer Group"
                        onclick="addgroup()", return false>+
                </button>
            </div>
        </form>
    </div>
</div>
</body>

{% block js %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{% endblock %}

<script>
    var labels = document.getElementsByTagName('LABEL');
    for (var i = 0; i < labels.length; i++) {
        if (labels[i].htmlFor != '') {
            var elem = document.getElementById(labels[i].htmlFor);
            if (elem)
                elem.label = labels[i];
        }
    }

    $(document).ready(function () {
        document.getElementById("id_oligoname").placeholder = 'Enter name...';
        document.getElementById("id_sequence").placeholder = 'Enter sequence... \ne.g. AATT-GTAGTCA';
        document.getElementById("id_sequence").title = 'Split overhanging end with  -  (must be in front)';
        document.getElementById("id_group").title = "New groups can be added in 'Groups', reachable from the main view";
        document.getElementById("id_templatetype").placeholder = "Optional";
        document.getElementById("id_application").placeholder = "Optional";
        document.getElementById("id_storagelocation").placeholder = "Optional";
        document.getElementById("id_notes").placeholder = "Optional";
        document.getElementById("id_tbo").title = "Check box if Primer should be ordered";
        document.getElementById("id_lockrec").title = "Locks sequence, creator and date of creation";

        document.getElementById("id_ordered").style.visibility = "hidden";
        document.getElementById('id_ordered').label.innerHTML = "Primer not ordered yet";
        document.getElementById('id_ordered').label.style.color = "red";

    });

    function crimsonin() {
        document.getElementById("savebtn").style.backgroundColor = "crimson";
    };

    function crimsonout() {
        document.getElementById("savebtn").style.backgroundColor = "red";
    };
    function addgroup() {
      var myWindow = window.open("{% url 'primer:groupform' %}", "", "width=400,height=400");
    };
    function help() {
        alert("The following characters are allowed in the sequence:\n" +
            "A (adenine)\n" +
            "C (cytosine)\n" +
            "G (guanine)\n" +
            "T  (thymine)\n" +
            "-  (indicates overhanging end to the left, please only set once)\n\n" +
            "The following characters are also allowed but secondary structure will not be completely accurate:\n"  +
            "* (Phosphorothioate linkages - Insert between the two bases for the linkage)\n" +
            "B = G+T+C\n" +
            "D = G+A+T\n" +
            "H = A+T+C\n" +
            "K = G+T\n" +
            "M = A+C\n" +
            "N = A+C+G+T\n" +
            "R = A+G\n" +
            "S = G+C\n" +
            "V = A+C+G\n" +
            "W = A+T\n" +
            "Y = C+T")
    }

</script>

</html>
