{% load static %}
<!DOCTYPE html5>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'primer/css/style_form.css' %}">
    <meta charset="UTF-8">

    <title>Order Nr. {{ nr }}</title>
    <h1 style="font-family: arial; font-size: 40px; margin-top:10px">Order Nr. {{ nr }}</h1>
    <div style="margin_left:10px; margin-bottom:5px">
        <button style="height: 30px; font-size: 15px" title="Go back to Order View"
                onclick="location.href='{% url 'primer:orderhistory' %}'">BACK
        </button>
    </div>
</head>
<body>
<div style="border: 1px solid ; width: 800px">
    <img title="Help" onclick="help()"
         style="height: 28px; width: 28px;margin-right:5px; margin-left:5px; margin-top:5px; cursor:pointer; float:right"
         src="{% static 'primer/images/questionmark.png' %}" id="questionmark">
    <div style="margin-left:10px; padding-bottom:10px">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div align="center">
                <input id="savebtn" class="savebtn" type="submit" value="SAVE" title="Save and submit changes" style="background-color: red; border-radius: 12px;height: 30px;
    color: white; font-weight: bold"
                       onmouseover="crimsonin()" onmouseleave="crimsonout()">
                <button type="button" style="height: 30px;font-size: 15px"
                        title="Cancel and go back to Overview"
                        onclick="location.href='{% url 'primer:orderhistory' %}'">CANCEL
                </button>

            </div>
        </form>
    </div>
</div>
</body>

{% block js %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{% endblock %}

<script>
    var labels = document.getElementsByTagName('LABEL');
    for (var i = 0; i < labels.length; i++) {
        if (labels[i].htmlFor != '') {
            var elem = document.getElementById(labels[i].htmlFor);
            if (elem)
                elem.label = labels[i];
        }
    }

    $(document).ready(function () {
        document.getElementById("id_PO_nr").placeholder = 'Optional';
    });

    function crimsonin() {
        document.getElementById("savebtn").style.backgroundColor = "crimson";
    };

    function crimsonout() {
        document.getElementById("savebtn").style.backgroundColor = "red";
    };
    function help() {
        alert("Date of Order and the Primers associated with this entry cannot be changed. Attempts to change these fields" +
            " won't work and will discard any changes made to other fields.");
    }


</script>

</html>
