{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="{% static 'primer/css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <meta charset="UTF-8">
    <title>Order History</title>
    <h1 align="center" style="font-family: verdana; font-size: 40px">Order History</h1>
</head>

<body>
<br>
<div align="center" style=" color: white; font-weight: bold">
    <button style="font-size: 15px; width: 100px" title="Go to Primers"
            onclick="location.href='{% url 'primer:primer' %}'">PRIMERS
    </button>
    <button style="font-size: 15px; width: 100px" title="Go to OrderView"
            onclick="location.href='{% url 'primer:order' %}'">ORDER
    </button>
    <button style="font-size: 15px; color: white; font-weight: bold; margin-right: 5px;width: 100px" title="Export to Excel"
            onclick="location.href='{% querystring '_export'='xls' %}'">EXPORT
    </button>
</div>
<br><br>

{% if q != None or datefrom != None or datetill != None %}
    <div align="center">
        <div style="border: 1px solid; display: inline-block; padding-left: 20px; padding-right: 20px;">
            {% if q != None %}
                <h3 align="center">Showing results for: {{ q }}</h3>
            {% endif %}
            {% if datefrom != None and datefrom != "2000-01-01" %}
            <h3 align="center">From: {{ datefrom }}</h3>
            {% endif %}
            {% if datetill != None and datetill != today %}
            <h3 align="center">Till: {{ datetill }}</h3>
            {% endif %}
        </div>
    </div>
<br>
{% endif %}

<form method="get" action="">
    <base href="/primer/orderhistory"/>
    <img title="Search options" onclick="options()"
         style="float: left; height: 28px; width: 28px;margin-right:5px; margin-left:5px; cursor:pointer"
         src="{% static 'primer/images/cog.png' %}" id="cogwheel">
    <input type="search" name="q" placeholder="Search..." style="float: left; height: 30px" size="55">

    <button title="Fields searched:
Order Number, PO Number, Amount of Primers, Ordered Primers"
            type="submit" style="float: left; width: 100px;color:white;font-weight: bold;"> SEARCH
    </button>
    <button title="Clear search" type="button" onclick="location.href='{% url 'primer:orderhistory' %}'"
            style="float: left; width: 100px;color:white; font-weight: bold;">
        CLEAR
    </button>
    <br><br>
    <div id="optionsdatefirst" style="background-color:lightgray; width: 350px;height:120px;display:none; align:center">
        <br>
        <label style="font-size:16px; color:red; margin-left:10px"><u>Date of Order</u></label>

        <br>
        <label id="labelfrom" for="from" style="margin-left:10px">Date from:</label><input id="from" type="date" name="from"
                                                                  placeholder="From..." size="20" style="margin-left:10px">
        <br>
        <label id="labeltill" for="till" style="margin-left:10px">Date till:</label><input id="till" type="date" name="till"
                                                                  placeholder="Till..." size="20" style="margin-left:25px">
    </div>
</form>

<button id="topbtn"  onclick="topFunction()" title="Go to top">TOP &#8657</button>

{% render_table table %}
</body>


<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}">
</script>

<script>
    <!--Toggle to show options-->
    function options() {
        var x = document.getElementById("optionsdatefirst");
        var z = document.getElementById("optionsdatelast");
        if (x.style.display === "none") {
            x.style.display = "block";
            z.style.display = "block";
        } else {
            x.style.display = "none";
            z.style.display = "none";
        }
    };

    function toggle1() {
        var x = document.getElementById("created");
        var y = document.getElementById("ordered");
        if (x.checked === true) {
            document.getElementById("from").style.visibility = "visible";
            document.getElementById("till").style.visibility = "visible";
            document.getElementById("labelfrom").style.visibility = "visible";
            document.getElementById("labeltill").style.visibility = "visible";
            y.checked = false;
        } else if (y.checked === false && x.checked === false) {
            document.getElementById("from").style.visibility = "hidden";
            document.getElementById("till").style.visibility = "hidden";
            document.getElementById("labelfrom").style.visibility = "hidden";
            document.getElementById("labeltill").style.visibility = "hidden";
        }
    };

            window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("topbtn").style.display = "block";
      } else {
        document.getElementById("topbtn").style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    };

</script>
</html>
