{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'primer/css/style.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>OrderView</title>
    <h1 align="center" style="font-family: verdana; font-size: 40px">Primer Order</h1>
</head>
<body>
</div>
<br>

<button id="topbtn"  onclick="topFunction()" title="Go to top">TOP &#8657</button>


<div align="center" style=" color: white; font-weight: bold;">
    <button style="font-size: 15px" title="Go back to Overview"
    onclick="location.href='{% url 'primer:primer' %}'">PRIMERS
    </button>
    <button style="font-size: 15px" title="Go to Order History"
    onclick="location.href='{% url 'primer:orderhistory' %}'">HISTORY
    </button>
    <button style="font-size: 15px" title="Export to Excel (only primers to be ordered)"
                onclick="location.href='{% querystring '_export'='xls' %}'">EXPORT
    </button>
        <img title="Help" onclick="help()"
         style="height: 28px; width: 28px;margin-right:5px; margin-left:5px; cursor:pointer;"
         src="{% static 'primer/images/questionmark.png' %}" id="questionmark">
</div>
<br>

{% if q != None or errmsg != None or datefrom != None or datetill != None or switch != None %}
<br><br>
<div align="center">
    <div style="border: 1px solid; display: inline-block; padding-left: 20px; padding-right: 20px;">
        {% if q != None and errmsg == "" %}
            <h3 align="center">Showing results for: {{ q }}</h3>
        {% endif %}
        {% if datefrom != None and datefrom != "2000-01-01" %}
        <h3 align="center">From: {{ datefrom }}</h3>
        {% endif %}
        {% if datetill != None and datetill != today %}
        <h3 align="center">Till: {{ datetill }}</h3>
        {% endif %}
         {% if switch != None %}
        <h3 align="center">By: {{ switch }}</h3>
        {% endif %}
        {% if errmsg != "" %}
            <h2 align="center">{{ errmsg }}</h2>
        {% endif %}
    </div>
</div>
<br><br>
{% endif %}


<div class="sticky">
    <form method="get" action="">
        <img title="Search options" onclick="options()"
             style="float: left; height: 28px; width: 28px;margin-right:5px; margin-left:5px; cursor:pointer; background-color: white"
             src="{% static 'primer/images/cog.png' %}" id="cogwheel">
        <input type="search" name="q" placeholder="Search..." style="float: left; height: 30px" size="55">

        <button title="Fields searched:
Oligo Nr, Oligo Name, Sequence, Length, Melting Temp, Modifications 5', Modifications 3', Scale, Created by, Group, Template type, Application, Storage Location"
                type="submit" style="float: left; width: 100px;color:white;font-weight: bold;"> SEARCH
        </button>
        <button title="Clear search" type="button" onclick="location.href='{% url 'primer:order' %}'"
                style="float: left; width: 100px;color:white; font-weight: bold;">
            CLEAR
        </button>
        <br><br>
        <div class="row">
            <div class="col-md-1" id="options"
                 style="background-color:lightgray; width: 350px;height:220px;display:none">
                <br>
                <label style="font-size:16px; color:red"><u>Check fields to exclude from textsearch:</u></label>
                <br>
                <input class="firstbox" type="checkbox" name="oligoname" value="f"/><label class="firstlbl">Oligo
                Name</label>
                <input class="secbox" type="checkbox" name="sequence" value="f"/><label class="seclbl">Sequence</label>
                <br>
                <input class="firstbox" type="checkbox" name="mods5" value="f"/><label class="firstlbl">Modifications
                5'</label>
                <input class="secbox" type="checkbox" name="mods3" value="f"/><label class="seclbl">Modifications
                3'</label>
                <br>
                <input class="firstbox" type="checkbox" name="createdby" value="f"/><label class="firstlbl">Created
                by</label>
                <input class="secbox" type="checkbox" name="templatetype" value="f"/><label class="seclbl">Template
                type</label>
                <br>
                <input class="firstbox" type="checkbox" name="application" value="f"/><label class="firstlbl">Application</label>
                <input class="secbox" type="checkbox" name="storagelocation" value="f"/><label class="seclbl">Storage
                location</label>
                <br>
                <input class="firstbox" type="checkbox" name="notes" value="f"/><label class="firstlbl">Notes</label>
                <br><br>
            </div>
            <div class="col-md-8" id="optionsdatefirst"
                 style="background-color:lightgray; width: 180px;height:220px;display:none">
                <br>
                <input type="checkbox" name="switch" id="created" value="created" onchange="toggle1()">
                <label style="font-size:16px; color:red"><u>Range Created</u></label>
                <br>
                <input type="checkbox" name="switch" id="ordered" value="ordered" onchange="toggle2()">
                <label style="font-size:16px; color:red"><u>Range Ordered</u></label>
                <br>
                <label id="labelfrom" style="visibility: hidden" for="from">Date from:</label><input
                    style="visibility: hidden" id="from" type="date" name="from" placeholder="From..." size="20">
                <br>
                <label id="labeltill" style="visibility: hidden" for="till">Date till:</label><input
                    style="visibility: hidden" id="till" type="date" name="till" placeholder="Till..."
                    style="float: left" size="20">
            </div>
        </div>
    </form>
</div>




<div style="float: right; color: white; font-weight: bold;background-color: white;">
    <p><h4 style="color:black">Filter by TBO Status:</h4></p>
    <button style="font-size: 15px" title="All"
            onclick="location.href='{% url 'primer:order' %}'">ALL
    </button>
    <button style="font-size: 15px" title="Checked"
            onclick="location.href='{% querystring 'f'='true' %}'">CHECKED
    </button>
    <button style="font-size: 15px" title="Unchecked"
            onclick="location.href='{% querystring 'f'='false' %}'">UNCHECKED
    </button>
</div>

<p><h4 style="color:black; margin-left:5px">Actions:</h4></p>
{% if 'false' in request.get_full_path or request.get_full_path == '/primer/order/' or 'q' in request.get_full_path %}
<div id="btns1" style="visibility: visible; color: white; font-weight: bold;">
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ add_form.as_p}}
        <button title="Set selected Primers to 'to be ordered'"
                type="submit" style="float: left;">ADD
        </button>
    </form>
</div>
{% endif %}

{% if 'q' in request.get_full_path %}
<div id="btns4" style="visibility: visible; color: white; font-weight: bold;">
    <form method="post" action="">
        {% csrf_token %}
        <button title="Add all displayed Primers" name="addall" value="addall"
                type="submit" style="float: left;">ADD ALL
        </button>
    </form>
</div>
{% endif %}

{% if 'true' in request.get_full_path or request.get_full_path == '/primer/order/' or 'q' in request.get_full_path %}
<div id="btns2" style="visibility: visible; color: white; font-weight: bold;">
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ remove_form.as_p}}
        <button title="Set selected Primers not 'to be ordered'"
                type="submit" style="float: left;">REMOVE
        </button>
    </form>
</div>
{% endif %}

{% if 'q' in request.get_full_path %}
<div id="btns5" style="visibility: visible; color: white; font-weight: bold;">
    <form method="post" action="">
        {% csrf_token %}
        <button title="Remove all displayed Primers" name="removeall" value="removeall"
                type="submit" style="float: left;">REMOVE ALL
        </button>
    </form>
</div>
{% endif %}

{% if request.get_full_path == '/primer/order/' %}
<div id="btns3" style="visibility: visible; color: white; font-weight: bold;">
    <form method="post" action="">
        {% csrf_token %}
        <button title="Set Primers from 'to be ordered' to 'ordered'" name="order" value="order"
                type="submit" style="float: left;">ORDER
        </button>
    </form>
</div>
{% endif %}


{% render_table table %}
</body>
</html>

{% block js %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{% endblock %}



<script>
    var orderList = [];

    $("input[type=checkbox]").click( function () {
            if (this.checked) {
                 orderList.push( $(this).parent().attr('id'));
            } else {
                var index = orderList.indexOf($(this).parent().attr('id'));
                if (index > -1) {
                    orderList.splice(index, 1);
                }
            }
            $("input[id=id_list]").val(orderList);

        }
    );
     function help() {
        alert("1.) To set primers to status 'to be ordered' check the select box for each primer and click on 'ADD'." +
            "\n\n2.) To export a list of the primers you want to order, click 'EXPORT'." +
            "\n\n3.) Click on 'ORDER' to set all checked primers to status 'ordered' and to create a new entry in " +
            "the Order History. An excel file will automatically be generated and linked to the entry in the Order History." +
            "\n\n Hint: To set primer status to not 'to be ordered', check the select boxes for each primer and click on 'REMOVE'.");
    }

    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("topbtn").style.display = "block";
      } else {
        document.getElementById("topbtn").style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    };

     <!--Toggle to show options-->
function options() {
  var x = document.getElementById("options");
  var y = document.getElementById("optionsdatefirst");
  var z = document.getElementById("optionsdatelast");
  if (x.style.display === "none") {
    x.style.display = "block";
    y.style.display = "block";
    z.style.display = "block";
  }else{
    x.style.display = "none";
    y.style.display = "none";
    z.style.display = "none";
  }
};

function toggle1() {
    var x = document.getElementById("created");
    var y = document.getElementById("ordered");
    if (x.checked === true) {
        document.getElementById("from").style.visibility = "visible";
        document.getElementById("till").style.visibility = "visible";
        document.getElementById("labelfrom").style.visibility = "visible";
        document.getElementById("labeltill").style.visibility = "visible";
        y.checked = false;
    } else if (y.checked === false && x.checked === false) {
        document.getElementById("from").style.visibility = "hidden";
        document.getElementById("till").style.visibility = "hidden";
        document.getElementById("labelfrom").style.visibility = "hidden";
        document.getElementById("labeltill").style.visibility = "hidden";
    }
};

function toggle2() {
    var x = document.getElementById("created");
    var y = document.getElementById("ordered");
    if (y.checked === true) {
        document.getElementById("from").style.visibility = "visible";
        document.getElementById("till").style.visibility = "visible";
        document.getElementById("labelfrom").style.visibility = "visible";
        document.getElementById("labeltill").style.visibility = "visible";
        x.checked = false;
    } else if (y.checked === false && x.checked === false) {
        document.getElementById("from").style.visibility = "hidden";
        document.getElementById("till").style.visibility = "hidden";
        document.getElementById("labelfrom").style.visibility = "hidden";
        document.getElementById("labeltill").style.visibility = "hidden";
    }
};
</script>
