{% load render_table from django_tables2 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Primer Groups</title>
     <h1 align="center" style="font-family: verdana; font-size: 40px">Primer Groups</h1>
</head>
<body>
{% if user.is_authenticated %}
<div align = "center">
    <div align="center" style="margin-top: 20px; margin-bottom:30px; padding: 20px; border:double; display: inline-block;">
        <p><h3>Add new group:</h3></p>
        <br>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <input id="savebtn" type="submit" value="SAVE" title="Save and submit changes" style="color: white; font-weight: bold; background-color: red; border-radius: 12px;height: 30px"
               onmouseover="crimsonin()" onmouseleave="crimsonout()">
        <button style=" color: white; font-weight: bold;" type="button" title= "Cancel and go back to Overview" onclick="location.href='{% url 'primer:primer' %}'" >CANCEL / BACK</button>
    </form>
    </div>
</div>
    {% else %}
    <br>
    <div align="center"  style="padding-top: 50px; padding-bottom:50px">
    <button style=" color: white; font-weight: bold;" type="button" title= "Go back to Overview" onclick="location.href='{% url 'primer:primer' %}'" >BACK</button>
    </div>

{% endif %}
<base href="/primer/" />

<link rel="stylesheet" type="text/css" href="{% static 'primer/css/style.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<br>

<button id="topbtn"  onclick="topFunction()" title="Go to top">TOP &#8657</button>

{% render_table table %}
</body>

{% block js %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{% endblock %}

<script>
    function crimsonin () {
    document.getElementById("savebtn").style.backgroundColor ="crimson";
    };
function crimsonout () {
    document.getElementById("savebtn").style.backgroundColor ="red";
    };
    $(document ).ready(function() {
        document.getElementById("id_name").placeholder = 'Enter name...';
        document.getElementById("id_name").title = 'Caution: Groups cannot be deleted, only renamed (admin-only)';
    });

        window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("topbtn").style.display = "block";
      } else {
        document.getElementById("topbtn").style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    };
</script>
</html>
