{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Filtered Primer Groups</title>
     <h1 align="center" style="font-family: verdana; font-size: 40px">Primer Group : {{ name }}</h1>
</head>
<body>
</div>
<br>
<div align="center" style="color: white; font-weight: bold;">
    <button style="font-size: 15px; width: 100px" title="Go to Primers"
            onclick="location.href='{% url 'primer:primer' %}'">PRIMERS
    </button>
    <button style="font-size: 15px" title="Go to Primer Groups"
            onclick="location.href='{% url 'primer:groups' %}'">PRIMER GROUPS
    </button>
        <button  style="font-size: 15px; margin-right: 5px; width: 100px" title="Export to Excel"
        onclick="location.href='{% querystring '_export'='xls' %}'">EXPORT
    </button>
</div>

<link rel="stylesheet" type="text/css" href="{% static 'primer/css/style.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<br><br>
{% render_table table %}
</body>
</html>
