{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Primer Groups</title>
     <h1 align="center" style="font-family: verdana; font-size: 40px">Primer Group</h1>
</head>
<body>
<div align = "center">
    <div align="center" style="margin-top: 20px; margin-bottom:30px; padding: 20px; border:double; display: inline-block;">
        <p><h3>Add new group:</h3></p>
        <br>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <input id="savebtn" type="submit" value="SAVE" title="Save and submit changes" style="color: white; font-weight: bold; background-color: red; border-radius: 12px;height: 30px"
               onmouseover="crimsonin()" onmouseleave="crimsonout()">
        <button style=" color: white; font-weight: bold;" type="button" title= "Cancel and close window" onclick="closeWin()" >CANCEL / BACK</button>
    </form>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="{% static 'primer/css/style.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<br>

</body>

{% block js %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{% endblock %}

<script>
    function crimsonin() {
    document.getElementById("savebtn").style.backgroundColor ="crimson";
    };
    function crimsonout() {
        document.getElementById("savebtn").style.backgroundColor ="red";
        };
        $(document ).ready(function() {
            document.getElementById("id_name").placeholder = 'Enter name...';
            document.getElementById("id_name").title = 'Caution: Groups cannot be deleted, only renamed (admin-only)';
        });
    function closeWin() {
        window.close();   // Closes the new window
    };
</script>
</html>
