{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Structure</title>
</head>
<body>
<div align="center">
    <button class="imgbtn" id="svgbtn" title="Show as svg" type="button" onclick="SVG()" style="color: blue">SVG</button>
    <button class="imgbtn" id= "pngbtn" title="Show as png (can be copied)" type="button"  onclick="PNG()">PNG</button>
    <br><br>
    <button title="Back to Overview" type="button" onclick="location.href='{% url 'primer:primer' %}'">BACK</button>
</div>
<br>
<div id="svgtext" align="center">
    {{ structure|safe }}
</div>

<div id="pngimg" style="display: none" align="center" >
   <img src="{% static 'primer/images/output.png' %}">
</div>
<link rel="stylesheet" type="text/css" href="{% static 'primer/css/style_structure.css' %}">

</body>
</html>


<script>
 <!--Toggle between svg and png-->
function PNG() {
  var x = document.getElementById("pngimg");
  var y = document.getElementById("svgtext");
  var pngbtn =  document.getElementById("pngbtn");
  var svgbtn =  document.getElementById("svgbtn");
  if (x.style.display === "none") {
    x.style.display = "block";
    pngbtn.style.color = "blue";
    svgbtn.style.color = "";
    y.style.display = "none";
  }
}
function SVG() {
  var x = document.getElementById("svgtext");
  var y = document.getElementById("pngimg");
  var pngbtn =  document.getElementById("pngbtn");
  var svgbtn =  document.getElementById("svgbtn");
  if (x.style.display === "none") {
    x.style.display = "block";
    pngbtn.style.color = "";
    svgbtn.style.color = "blue";
    y.style.display = "none";
  }
}
</script>
