{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Oligo Primer Database</title>

    <link rel="stylesheet" type="text/css" href="{% static 'primer/css/style.css' %}">
    <div class="row">
        <div class="col-md-1"><a href="mailto:alex.benkoe@hotmail.com?subject=Oligo Primer Database">
            <img class="logo" src="{% static 'primer/images/OligoPrimerLogo.png' %}"
                 onclick="location.href='{% url 'primer:primer' %}"
                 alt="Created by: Alexander Benkö"
                 title="Created by: Alexander Benkö"/></a>
        </div>
        <div class="col-md-5"><h1 class="headline" onclick="location.href='{% url 'primer:primer' %}'"
                                  style="cursor:pointer">Oligo Primer Database</h1></div>
    </div>

    {% if q != None or errmsg != "" or datefrom != None or datetill != None or switch != None %}
    <div align="center">
        <div style="border: 1px solid; display: inline-block; padding-left: 20px; padding-right: 20px;">
            {% if q != None and errmsg == "" %}
                <h3 align="center">Showing results for: {{ q }}</h3>
            {% endif %}
            {% if datefrom != None and datefrom != "2000-01-01" %}
            <h3 align="center">From: {{ datefrom }}</h3>
            {% endif %}
            {% if datetill != None and datetill != today %}
            <h3 align="center">Till: {{ datetill }}</h3>
            {% endif %}
             {% if switch != None %}
            <h3 align="center">By: {{ switch }}</h3>
            {% endif %}
            {% if errmsg != "" %}
                <h2 align="center">{{ errmsg }}</h2>
            {% endif %}
        </div>
    </div>
    {% endif %}

    {% if user.is_superuser %}
        <a style="margin-left:6px; margin-right: 6px; font-size:16px" href="{% url 'admin:index' %}">Admin Panel</a>
        |
    {% endif %}
    <a style="margin-left:6px; margin-right: 6px; font-size:16px" href="{% url 'primer:backto' %}">IMICS</a>
     |
    {% if user.is_authenticated %}
        <a style="margin-left:6px; margin-right: 6px;font-size:16px" href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a style="margin-left:6px; margin-right: 6px;font-size:16px" href="{% url 'logout' %}">Login</a>
    {% endif %}



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

</head>
<body>
<div class="sticky">
    <form method="get" action="">
        <base href="/primer/"/>
        <img title="Search options" onclick="options()"
             style="float: left; height: 28px; width: 28px;margin-right:5px; margin-left:5px; cursor:pointer; background-color: white"
             src="{% static 'primer/images/cog.png' %}" id="cogwheel">
        <input type="search" name="q" placeholder="Search..." style="float: left; height: 30px" size="55">

        <button title="Fields searched:
Oligo Nr, Oligo Name, Sequence, Length, Melting Temp, Modifications 5', Modifications 3', Scale, Created by, Group, Template type, Application, Storage Location"
                type="submit" style="float: left; width: 100px;color:white;font-weight: bold;"> SEARCH
        </button>
        <button title="Clear search" type="button" onclick="location.href='{% url 'primer:primer' %}'"
                style="float: left; width: 100px;color:white; font-weight: bold;">
            CLEAR
        </button>
        <br><br>
        <div class="row">
            <div class="col-md-1" id="options"
                 style="background-color:lightgray; width: 350px;height:220px;display:none">
                <br>
                <label style="font-size:16px; color:red"><u>Check fields to exclude from textsearch:</u></label>
                <br>
                <input class="firstbox" type="checkbox" name="oligoname" value="f"/><label class="firstlbl">Oligo
                Name</label>
                <input class="secbox" type="checkbox" name="sequence" value="f"/><label class="seclbl">Sequence</label>
                <br>
                <input class="firstbox" type="checkbox" name="mods5" value="f"/><label class="firstlbl">Modifications
                5'</label>
                <input class="secbox" type="checkbox" name="mods3" value="f"/><label class="seclbl">Modifications
                3'</label>
                <br>
                <input class="firstbox" type="checkbox" name="createdby" value="f"/><label class="firstlbl">Created
                by</label>
                <input class="secbox" type="checkbox" name="templatetype" value="f"/><label class="seclbl">Template
                type</label>
                <br>
                <input class="firstbox" type="checkbox" name="application" value="f"/><label class="firstlbl">Application</label>
                <input class="secbox" type="checkbox" name="storagelocation" value="f"/><label class="seclbl">Storage
                location</label>
                <br>
                <input class="firstbox" type="checkbox" name="notes" value="f"/><label class="firstlbl">Notes</label>
                <br><br>
            </div>
            <div class="col-md-8" id="optionsdatefirst"
                 style="background-color:lightgray; width: 180px;height:220px;display:none">
                <br>
                <input type="checkbox" name="switch" id="created" value="created" onchange="toggle1()">
                <label style="font-size:16px; color:red"><u>Range Created</u></label>
                <br>
                <input type="checkbox" name="switch" id="ordered" value="ordered" onchange="toggle2()">
                <label style="font-size:16px; color:red"><u>Range Ordered</u></label>
                <br>
                <label id="labelfrom" style="visibility: hidden" for="from">Date from:</label><input
                    style="visibility: hidden" id="from" type="date" name="from" placeholder="From..." size="20">
                <br>
                <label id="labeltill" style="visibility: hidden" for="till">Date till:</label><input
                    style="visibility: hidden" id="till" type="date" name="till" placeholder="Till..."
                    style="float: left" size="20">
            </div>
        </div>
    </form>
</div>

<div class="sticky" style="color:white; font-weight: bold;">
    <img title="Help" onclick="location.href='{% querystring 'download'='help' %}'"
         style="height: 28px; width: 28px;margin-right:5px; margin-left:5px; cursor:pointer; float:right"
         src="{% static 'primer/images/questionmark.png' %} " id="questionmark">
    <form>
        <button style="float: right;width: 100px;font-size: 15px" title="Go to NCBI/Primer Blast"
                formaction="https://www.ncbi.nlm.nih.gov/tools/primer-blast/index.cgi?LINK_LOC=BlastHome"
                formtarget="_blank">BLAST
        </button>
    </form>
 {% if user.is_superuser %}
    <button style="float: right;font-size: 15px; width: 100px" title="Upload Primers into Database"
            onclick=upload()>UPLOAD
    </button>
    {% endif %}
    <button style="float: right;font-size: 15px; width: 100px" title="Go to Primer Groups"
            onclick="location.href='{% url 'primer:groups' %}'">GROUPS
    </button>
    {% if user.is_superuser %}
        <button style="float: right;font-size: 15px; width: 100px" title="Go to Order View"
                    onclick="location.href='{% url 'primer:order' %}'">ORDER
        </button>
    {% endif %}
    <button style="float: right;font-size: 15px;width: 100px" title="Export to Excel"
            onclick="location.href='{% querystring '_export'='xls' %}'">EXPORT
    </button>
    <button style="float: right; width: 100px;font-size: 15px" title="Add new entry"
            onclick="location.href='{% url 'primer:new' %}'">NEW
    </button>
</div>

<button id="topbtn"  onclick="topFunction()" title="Go to top">TOP &#8657</button>

{% render_table table %}

    <!-- Version Number -->
  <p id="version" style="float: right;"><i>Version: 1.0</i></p>

</body>

<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}">
</script>

<script>
 <!--Toggle to show options-->
function options() {
  var x = document.getElementById("options");
  var y = document.getElementById("optionsdatefirst");
  var z = document.getElementById("optionsdatelast");
  if (x.style.display === "none") {
    x.style.display = "block";
    y.style.display = "block";
    z.style.display = "block";
  }else{
    x.style.display = "none";
    y.style.display = "none";
    z.style.display = "none";
  }
};

function toggle1() {
    var x = document.getElementById("created");
    var y = document.getElementById("ordered");
    if (x.checked === true) {
        document.getElementById("from").style.visibility = "visible";
        document.getElementById("till").style.visibility = "visible";
        document.getElementById("labelfrom").style.visibility = "visible";
        document.getElementById("labeltill").style.visibility = "visible";
        y.checked = false;
    } else if (y.checked === false && x.checked === false) {
        document.getElementById("from").style.visibility = "hidden";
        document.getElementById("till").style.visibility = "hidden";
        document.getElementById("labelfrom").style.visibility = "hidden";
        document.getElementById("labeltill").style.visibility = "hidden";
    }
};

function toggle2() {
    var x = document.getElementById("created");
    var y = document.getElementById("ordered");
    if (y.checked === true) {
        document.getElementById("from").style.visibility = "visible";
        document.getElementById("till").style.visibility = "visible";
        document.getElementById("labelfrom").style.visibility = "visible";
        document.getElementById("labeltill").style.visibility = "visible";
        x.checked = false;
    } else if (y.checked === false && x.checked === false) {
        document.getElementById("from").style.visibility = "hidden";
        document.getElementById("till").style.visibility = "hidden";
        document.getElementById("labelfrom").style.visibility = "hidden";
        document.getElementById("labeltill").style.visibility = "hidden";
    }
};
    function upload() {
      var myWindow = window.open("{% url 'primer:fileupload' %}", "", "width=500,height=500");
    };

        window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("topbtn").style.display = "block";
      } else {
        document.getElementById("topbtn").style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    };
</script>
</html>