<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load querystring from django_tables2 %}
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" type="text/css" href="{% static 'primer/css/style_form.css' %}">
    <title>File Upload</title>
    <h1 align="center" style="font-family: verdana; font-size: 40px">Primer Upload</h1>
</head>
<body>
<div align="center">
    <img title="Help" onclick="help()"
         style="height: 28px; width: 28px;margin-right:5px; margin-left:5px; margin-top:5px; cursor:pointer;"
         src="{% static 'primer/images/questionmark.png' %}" id="questionmark">
</div>
<div id = "helptext" style="display: none; border: solid">
    <p>To upload multiple primers from an excel file, please use the template provided. If any errors should occur
        they will be displayed down below.</p>
    <p>
        Any additional fields that are added to the template will be ignored.
    </p>
</div>
<br>
{% if user.is_superuser %}
<div>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
         {{ form.as_p }}
        <br><br>
    <div align="center">
        <input id ="uploadbtn" type = "submit" value="UPLOAD" name="upload" style="background-color: red; border-radius: 12px;height: 30px;
    color: white; font-weight: bold; width: 100px" onmouseover="crimsonin()" onmouseleave="crimsonout()" title="Upload filled out Template">
    </div>
</form>
    <br>
</div>
<div align="center">
    <button style="font-size: 15px;width: 100px" title="Download the Template"
            onclick="location.href='{% querystring 'download'='template' %}'">TEMPLATE
    </button>
    <p><button type="button" style="height: 30px;font-size: 15px; width: 100px"
                        title="Cancel and go back to Overview"
                        onclick=closeWin() >CANCEL
    </button></p>
</div>

{% if error %}
<br><br>
<p>{{ error }}</p>
{% if missing %}
<p>Missing fields: {{ missing }}</p>
{% endif %}
{% if names %}
<p>Duplicate Primers: {{ names }}</p>
{% endif %}
{% endif %}
{% endif %}
</body>

<script>
    function closeWin() {
        window.close();   // Closes the new window
    };
    function crimsonin() {
        document.getElementById("uploadbtn").style.backgroundColor = "crimson";
    };

    function crimsonout() {
        document.getElementById("uploadbtn").style.backgroundColor = "red";
    };
    function help() {
        if (document.getElementById("helptext").style.display === "none") {
            document.getElementById("helptext").style.display = "block"
        } else {
            document.getElementById("helptext").style.display = "none"
        }
    };

</script>
</html>