.headline{
    font-family: verdana;
    margin: 30px;
    padding: 0px;
    font-size: 50px;
}

.logo {
    height: 80px;
    width: auto;
    margin: 20px;
    padding: 0px;
}

textarea{
    height: 70px;
    font-size: 14px;
    vertical-align: middle;
}

.orderable {
    text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    max-width:220px;
    word-wrap: break-word;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

button {
    background-color: red;
    border-radius: 12px;
    height: 30px;
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: crimson;
}

#cogwheel {
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
}

#cogwheel:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

svg {
    -webkit-transition: -webkit-transform .2s ease-in-out;
}

svg:hover {
    -webkit-transform: scale(4);
}

.secbox {
    position: absolute;
    left: 170px;
}

.seclbl {
    position: absolute;
    left: 190px;
}

.firstlbl {
    position: absolute;
    left: 40px;
}

.firstbox {
    position: absolute;
    left: 20px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#questionmark:hover {
    animation: blinker 1s linear infinite;
}

#version {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

#topbtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    background-color: red;
    border-radius: 12px;
    height: 30px;
    color: white;
    font-weight: bold;
    font-weight: bold;
}

#topbtn:hover {
  background-color: crimson;
}