button {
    background-color: red;
    border-radius: 12px;
    height: 30px;
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: crimson;
}

.imgbtn {
    height: 50px;
    width: 80px;
    font-size:18px;
}