.headline{
    font-family: verdana;
    margin: 30px;
    padding: 0px;
    font-size: 50px;
}

textarea{
    height: 50px;
    width: 500px;
    font-size: 14px;
    vertical-align: middle;
    margin-bottom:-10px;
}

button {
    background-color: red;
    border-radius: 12px;
    height: 30px;
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: crimson;
}

p {
    font-size: 14px;
    margin-bottom: 17px;
    margin-top: 17px;

}
select{
    position: absolute;
    left: 200px;
    vertical-align: middle;

}
input {
    position: absolute;
    left: 200px;
}

.savebtn {
    position:inherit;
}

#savebtn1:hover {
    background-color:crimson;
}

#id_datefirst_day {
    position: absolute;
    left: 200px;
}

#id_datefirst_month {
    position: absolute;
    left: 255px;
}

#id_datefirst_year {
    position: absolute;
    left: 370px;
}

#id_datelast_day {
    position: absolute;
    left: 200px;
}

#id_datelast_month {
    position: absolute;
    left: 255px;
}

#id_datelast_year {
    position: absolute;
    left: 370px;
}

#id_sequence {
    margin-left:105px
}

#id_notes {
    margin-left:132px
}

#id_PO_nr {
    margin-left:92px
}

#id_primers {
    margin-left:120px
}

#id_orderdate_day {
    position: absolute;
    left: 200px;
}

#id_orderdate_month {
    position: absolute;
    left: 255px;
}

#id_orderdate_year {
    position: absolute;
    left: 370px;
}

#orderfile-clear_id {
    position: static;
    margin-left: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
}


@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#refresh:hover {
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#add_new {
    position: relative;
    left: -20%;
    bottom: 432px;
    font-size: 22px;
    height: 30px;
    background: ghostwhite;
    color: limegreen;
    border-color: black;
    cursor: pointer;
}

#add_detail {
    position: relative;
    left: -19%;
    bottom: 434px;
    font-size: 22px;
    height: 30px;
    background: ghostwhite;
    color: limegreen;
    border-color: black;
    cursor: pointer;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#questionmark:hover {
    animation: blinker 1s linear infinite;
}

#uploadbtn {
    position: initial;
}

#id_file {
    position: absolute;
    left: 41%;
}