{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Login</title>
</head>


<body>
<div  align="center" style="margin-top: 200px; border:double"><h1>User Login</h1></div>
{% if user.is_authenticated %}
    <div align="center" style="padding-top: 10px">
    <p>Hi {{ user.username }}! You are already logged in!</p>
    {% if user.is_superuser %}
    <button type="button" title="Admin Panel"
                    onclick="location.href='{% url 'admin:index' %}'">ADMIN PANEL
    </button>
    {% endif %}
    <button type="button" title="Primer Database"
                    onclick="location.href='{% url 'primer:primer' %}'">PRIMER DATABASE
    </button>

    </div>

{% else %}
    <div align="center" style="padding-top: 10px">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}<br/>
          <button style=" height: 50px; width: 120px; font-size: 18px" type="submit" title="Login">LOGIN</button>
        </form>
        <p></p>
        <p></p>
        <button type="button" title="Go to Admin Login"
                onclick="location.href='{% url 'admin:login' %}'">ADMIN PANEL
          </button>
          <button type="button" title="View Primers without logging in"
                onclick="location.href='{% url 'primer:primer' %}'">READ ONLY
          </button>
    </div>
{% endif %}
<link rel="stylesheet" type="text/css" href="{% static 'primer/css/style.css' %}">
</body>
</html>
